<% layout('layout/boilerplate.ejs') %>
<h3>Your Profile</h3>

<ul class="container">
    <li><%= user.firstName %></li>
    <li><%= user.lastName %></li>
    <li><%= user.bio %></li>
    <li><%= user.location.city %></li>
    <li><%= user.location.country %></li>
    <li><%= user.username %></li>
    <li><%= user.email %></li>
</ul>